/*
 *  Copyright (c) 2002-2017, Manorrock.com. All Rights Reserved.
 *
 *  Redistribution and use in source and binary forms, with or without
 *  modification, are permitted provided that the following conditions are met:
 *
 *      1. Redistributions of source code must retain the above copyright
 *         notice, this list of conditions and the following disclaimer.
 *
 *      2. Redistributions in binary form must reproduce the above copyright
 *         notice, this list of conditions and the following disclaimer in the
 *         documentation and/or other materials provided with the distribution.
 *
 *  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 *  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 *  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 *  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
 *  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 *  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 *  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 *  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 *  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 *  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 *  POSSIBILITY OF SUCH DAMAGE.
 */

a {
    color:goldenrod;
}

a.button {
    background: goldenrod;
    border-radius: 25px;
    color: black;
    font-variant: small-caps;
    padding: 5px;
    text-decoration: none;
}

a.visited {
    color: gold;
}

body {
    background-color: black;
    color: goldenrod;
}

button.button {
    background: goldenrod;
    border-width: 0px;
    border-radius: 25px;
    color: black;
    font-variant: small-caps;
    padding: 5px;
    text-decoration: none;
}
h1 {
    color: goldenrod;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

input.button {
    background: goldenrod;
    border-width: 0px;
    border-radius: 25px;
    color: black;
    font-variant: small-caps;
    padding: 5px;
    text-decoration: none;
}

th {
    background-color: goldenrod;
    color: black;
}